<nav>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/cooper">Cooper</a></li>
        <li><a href="/lola">Lola</a></li>
        <li><a href="/russet">Russet</a></li>
        <li><a href="/Sunny">Sunny</a></li>
    </ul>
</nav>
