<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %> <!-- Include the header -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1> <!-- Display the title -->
    <p><%= description %></p> <!-- Display the description -->
    <body style="background-image: url('/images/Sunny.jpeg'); background-size: cover; background-position: center; min-height: 100vh;"></body>
</body>
</html>
