<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
<div class="about-body">
    <h3>About us</h3>
    <p class="about-para">Welcome to RecibeHub, your ultimate recipe tracker! <br><br>
        Our platform is designed to help culinary enthusiasts and home cooks alike organize, 
        share, and discover a world of recipes. <br><br>Whether you're looking to catalog your family's traditional dishes, 
        find inspiration for your next meal, or simply keep track of your culinary experiments, we've got you covered.
         Join our community today and elevate your cooking game!</p>    
</div>
</body>
</html>