<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>



    <!-- Add your CSS and other head content here -->
</head>
<body>

    
    <div class="content">
        {{{body}}} <!-- This is where the content of each page will be inserted -->
    </div>
    
    <!-- Add your footer and scripts here -->
</body>
</html>

