<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>    
</head>
<body>
    <div class="body-home">
    <p class="p-home">Enjoy!!</p>
    <h1 class="h1-home">Make you recipe right now.</h1>    
    <p class="para-home">
      Elevate your meals with our compact recipe repertoire, designed to inspire both novice and seasoned chefs alike. 
      Unleash your creativity in the kitchen and delight your taste buds with every bite.
    </p>
   <a href="/recipes" class="button-home">Start here</a>
    </div>
</body>
</html>

