<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>    
</head>
<body>
    <div class="body-home">
  <div class="background"></div>
<div class="background-texture"></div>
<div class="home">
  <div class="left-content">
    <p class="stay-home">Enjoy!!</p>
    <h1>Make you recipe right now.</h1>    
    <p class="para">
      Elevate your meals with our compact recipe repertoire, designed to inspire both novice and seasoned chefs alike. 
      Unleash your creativity in the kitchen and delight your taste buds with every bite.
    </p>
   <a href="/recipes" class="button">Start here</a>
    <defs>
      <filter id="filter0_b" x="-4" y="-4" width="736" height="922" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImage" stdDeviation="2" />
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape" />
      </filter>
      <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(364 457) rotate(90) scale(457 364)">
        <stop stop-color="#8693E6" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </radialGradient>
    </defs>
 </div>
</div>
</body>
</html>

