<!-- views/recipes.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
</head>
<body>
    <h1>Recipe List</h1>
    <ul>
        {{#each recipes}}
            <li>{{title}}</li>
        {{/each}}
    </ul>
</body>
</html>

