<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes List</title>
  
</head>
<body>
    <div class="body-recipe">
    <a href="/recipes/add" class="add-recipe-button">Add New Recipe</a>    
    <form action="/recipes/search" method="GET">
  <input type="text" name="searchQuery" placeholder="Search recipes by title...">
  <button type="submit">Search</button>
</form>    
<h2 class="list-name">Recipes List</h2>
    <table class="table">
       
    <thead>       
    </thead>
    <tbody>
        {{#each recipes}}
            <tr>
                <td><a href="/recipes/{{ this._id }}">{{ this.title }}</a></td>
                <td class="action-buttons">
                    <button type="button" onclick="location.href='/recipes/edit/{{ this._id }}'">Edit</button>
                    <form action="/recipes/delete/{{ this._id }}" method="POST" class="delete-form" onsubmit="return confirmDelete()">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
    </div>

   <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete this recipe?');
        }
    </script>

</body>
</html>


