<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeHub</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="site-header">
    <div class="container">
        <div class="site-logo">
            <a href="/">
                <img src= "/images/RecipeHub.png" alt="RecipeHub Logo" width="200" height="100" class="logo-img">
            </a>
        <nav class="site-nav">
            <ul>               
                <li><a href="/">Home</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/about">About</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
            <ul class="site-nav ml auto">
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
            </ul>
        </nav>
    </div>
</header>

<!-- Your content goes here -->

</body>
</html>

