<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeHub</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header class="site-header">
    <div class="container">
        {{!-- <div class="site-logo">
            <a href="/">
                <img src= "/images/RecipeHub.png" alt="RecipeHub Logo" class="logo-img">
            </a> --}}
        <nav class="site-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="user-nav">
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>            
        </nav>
    </div>
</header>
</body>
</html>

